<!DOCTYPE html>
<html lang="en" SYSTEM xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="bg-primary text-white text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div>
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="margin-left: 25%;">
                    <h5 class="text-uppercase">دریافت نوبت از پزشکان سراسر کشور</h5>

                    <p>
                        همه‌چیز از آنجایی شروع شد که در بخش فناوری بیمارستان‌ها مشغول همکاری بودیم که به یک سؤال مهم
                        برخورد کردیم؛ با همه پیشرفت‌هایی که در بخش سلامت و پزشکی داشته‌ایم اما چرا در بخش خدمات‌رسانی
                        پزشکی دچار مشکلات متعدد مدیریتی هستیم؟ آنجا بود که ایده دکتردکتر در ذهنمان نقش ‌بست. باید اعتراف
                        کنیم، شکست‌هایی زیادی را تجربه کردیم اما روزهای خوب هم از راه رسید.مشاهده بیشتر
                    </p>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 :
            <a class="text-white" href="https://localhost:8080/">www.khanePezeshk.ir</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</div>
</body>
</html>